.my-nav-top, .my-header-logo{
    background-color: #282B33;
}
.layui-nav-item {
    vertical-align: center;
}
.nav-right{
    float:right;
    margin-right:20px;
}
.nav-right a{
    padding: 18px 20px;
}

.my-nav-side{
    top:60px;
}

.my-nav-side li{
    text-align: center;
}

.my-main-iframe{
    width: 100%;
    height: calc(100vh - 108px);
    min-width: 1050px;
}
.proj_title{
    word-wrap:break-word;
    word-break:normal;
    /*overflow: hidden;*/
}
